@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: 'Source Code Pro', Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(0, 0, 0, 0.87);
  background-color: #eef8f8;
  padding: 0.5rem;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}


.button {
  display: flex;
  border-radius: 999px;
  border: 1px solid rgba(0, 0, 0, 1);
  justify-content: center;
  align-items: center;
  /* padding-left: 20px; */
  font-weight: 700;
  user-select: none;
  cursor: pointer;
  position: relative;
  height: 32px;
  @apply text-black
}

.button p {
  padding: 0;
  margin: 0;
  z-index: 10;
  /* padding-right: 12px; */
}

.button svg {
  margin-top: 3px;
  margin-left: 6px;
  z-index: 10;
}

.mask {
  position: absolute;
  top: 2.5px;
  left: 2px;
  height: 24px;
  width: 100%;
  mask-image: url(/button-mask.svg);
  mask-repeat: no-repeat;
}
.button video {
  z-index: 0;
  position: absolute;
  opacity: 0;
  top: 0;
}
.button:hover video {
  opacity: 1;
}

.bobby-blobby {
  height: 200px;
  opacity: 0;
  @apply animate-fade-in;
  animation-delay: 750ms;
}
#bobby-blobby-canvas {
  /* transform: scale(0.3) translate(-50%, -80%); */
  transform: scale(0.4) translate(0%, 100%);
  background-color: #eef8f8;
  
}
/* @media (min-width: 640px) {
  #bobby-blobby-canvas {
    transform: scale(0.4) translate(0%, -80%);
  }
}
@media (min-width: 768px) {
  #bobby-blobby-canvas {
    transform: scale(0.5) translate(0%, -80%);
  }
} */

.blob-hidder {
  position: absolute;
  bottom: -380px;
  right: -385px;
  width: 143px;
  height: 40px;
  background-color: #eef8f8;
  z-index: 1;
}
@media (min-width: 1024px) {
  #bobby-blobby-canvas {
    transform: scale(0.7) translate(0%, -50%);
  }
  .blob-hidder {
    position: absolute;
    bottom: -381px;
    right: 17px;
    width: 144px;
    height: 38px;
    z-index: 1;
  }
}

a {
  @apply text-neutral-400 transition-all duration-500;
  cursor: pointer;
}
@media (hover: hover) {
  footer a:hover {
    @apply text-black;
    
  }
}

li > a {
  @apply text-black;
}
li:hover > a {
  @apply text-white;
  /* transition-timing-function: cubic-bezier(0.65, 0, 1, -0.15); */
}

.animation-delay-500 {
  animation-delay: 500ms;
}